body{
	background-color: black;
	text-align: center;
}

h1, h2, p, figure{
	color: white;
	font-family: Verdana;
}

h1{
	font-weight: normal;
	font-size: 50px;
}

h2{
	font-weight: 300;
	font-size: 42px;
}

figure{
	font-size: 21px;
	color: gray;
}

a{
	color: brightblue;
}

#copyright{
	text-align: right;
	color: gray;
}